<div class="container-fluid d-flex justify-content-center gap-5 mt-4">
  <a href="/addTip" class="btn btn-primary">Add tips</a>
</div>

{{#each tips as |tip|}}
<div class="container-fluid">
  <div class="border border-secondary">
    <h3>{{format_date tip.date}}</h3>
    <h3>Hours Worked: {{tip.hours}}</h3>
    <h3>Tips Earned: {{tip.tips}}</h3>
    <a href="/updateTip/{{tip.id}}" class="btn btn-info">Edit Tips</a>
    <button class="btn btn-sm btn-danger delete-btn" data-id="{{tip.id}}">DELETE</button>
  </div>
</div>
{{/each}}

<script src="/js/jobPage.js"></script>